.background_field {
    min-height: 100vh;            
    width: 100%;
    background-image: url("./assets/background.png"); 
    background-size: cover;          
    background-position: center;   
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;        
}
